# 🛑 Игнорируем виртуальное окружение
venv/
.venv/

# 🛑 Игнорируем кэш Python
__pycache__/
*.py[cod]
*$py.class

# 🛑 Игнорируем системные файлы macOS и Windows
.DS_Store
Thumbs.db

# 🛑 Игнорируем логи и временные файлы
*.log
logs/
*.bak
*.swp
*.swo

# 🛑 Игнорируем файлы IDE
.idea/
*.iml

# 🛑 Игнорируем файлы зависимостей и настроек среды
Pipfile
Pipfile.lock
.env
